SNOWFLAKE_ACCOUNT=your_account.region
SNOWFLAKE_USER=uberblick_user
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=UBERBLICK_RO
SNOWFLAKE_WAREHOUSE=UBERBLICK_WH

UBERBLICK_ANTHROPIC_API_KEY=
UBERBLICK_OPENAI_API_KEY=
